<% layout("/layouts/boilerplate") %>

    <body>
        <div class="row mt-3">
            <div class="col-8  offset-2">
                <!-- Create new listing -->
                <h3>Create</h3>
                <form action="/listings" method="post" enctype="multipart/form-data" novalidate
                    class="needs-validation">
                    <div class="mb-3">
                        <label for="title" class="form-label">Title</label>
                        <input required name="listing[title]" class="form-control" placeholder="enter title"
                            type="text">
                        <div class="invalid-feedback">Please Enter Title</div>
                    </div>

                    <div class="mb-3">
                        <label for="description" class="form-label">Description</label>
                        <textarea required name="listing[description]" class="form-control"></textarea>
                        <div class="invalid-feedback">Please Enter Description</div>
                    </div>

                    <!-- <div class="mb-3">
                        <label for="image" class="form-label">Image Url</label>
                        <input name="listing[image]" class="form-control" placeholder="enter image URL/Link"
                            type="text">
                    </div> -->

                    <!-- Image Upload -->

                    <div class="mb-3">
                        <label for="image" class="form-label">Upload Image</label>
                        <input name="listing[image]" class="form-control" required type="file">
                    </div>
                    <div class="row">
                        <div class="mb-3 col-md-4">
                            <label for="price" class="form-label">Price</label>
                            <input required name="listing[price]" class="form-control" placeholder="2500" type="number">
                            <div class="invalid-feedback">Please Enter Price</div>
                        </div>

                        <div class="mb-3 col-md-8">
                            <label for="country" class="form-label">Country</label>
                            <input required name="listing[country]" class="form-control" type="text"
                                placeholder="India">
                            <div class="invalid-feedback">Please Enter Country</div>
                        </div>
                    </div>


                    <div class="mb-3">
                        <label for="location" class="form-label">Location</label>
                        <input required name="listing[location]" class="form-control" type="text" placeholder="Lko">
                        <div class="invalid-feedback">Please Enter Location</div>
                    </div>


                    <button class="btn btn-dark">Add</button>


                </form>
            </div>
        </div>
    </body>