<% layout("/layouts/boilerplate") %>

    <div class="row mt-3">
        <div class="col-8  offset-3">

            <h1>About Page</h1>
            <p>Couchsurfing is a global hospitality exchange network that connects travelers with locals who are willing
                to offer them a place to stay for free. The platform operates on the principle of cultural exchange and
                building connections between people from different backgrounds. It provides a unique and budget-friendly
                way for travelers to experience new destinations while fostering cross-cultural understanding and
                friendship.</p>

            <p> Founded in 2004 by Casey Fenton, Daniel Hoffer, Sebastian Le Tuan, and Leonardo Bassani da Silveira,
                Couchsurfing has grown into a vibrant community with millions of members worldwide. The idea behind
                Couchsurfing is to create a network where travelers, or "surfers," can find hosts in the locations they
                plan to visit. Hosts, in turn, open their homes to guests, sharing not only a place to sleep but also
                cultural insights, local recommendations, and a sense of community.</p>

            <p> The Couchsurfing platform facilitates these connections through a website and mobile app. Users create
                profiles that include information about themselves, their interests, and their accommodation
                availability. Travelers can then search for hosts in their desired destinations, send requests, and
                potentially arrange stays with locals who are part of the Couchsurfing community.</p>

            <p> Couchsurfing promotes the idea of mutual respect, cultural exchange, and building meaningful
                connections. It goes beyond just providing a free place to stay; it encourages hosts and surfers to
                engage in cultural exchange activities, share meals, and participate in local events together. This not
                only enriches the travel experience but also fosters a sense of global community.</p>

            <p> While Couchsurfing has been praised for its ability to connect people and create memorable experiences,
                users are advised to prioritize safety by carefully reviewing profiles, reading reviews, and
                communicating openly with potential hosts or guests. The platform has evolved over the years, and its
                impact on the way people travel and connect with one another continues to be significant.</p>

            
            <h3>Contact Us</h3>

            <form class="mb-3" action="/" method="post" novalidate class="needs-validation">
                <div class="mb-3">
                    <label for="name" class="form-label">Name</label>
                    <input required name="name" class="form-control" placeholder="enter name" type="text">
                    <div class="invalid-feedback">Please Enter Name</div>
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input required name="email" class="form-control" placeholder="enter email" type="email">
                    <div class="invalid-feedback">Please Enter Email</div>
                </div>
                <div class="mb-3">
                    <label for="message" class="form-label">Message</label>
                    <textarea required name="message" class="form-control"></textarea>
                    <div class="invalid-feedback">Your message</div>
                </div>

                <button class="btn btn-dark">Submit</button>

            </form>

        </div>
    </div>