<% layout("/layouts/boilerplate") %>

    <style>
        body {
        margin: 0;
        padding: 0;
        font-family: 'Arial', sans-serif;
    }

    /* Main Section Styles */
    .main {
        height: 80vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: #fff;
        background-image: url(https://cdn.pixabay.com/photo/2016/11/22/19/17/buildings-1850129_1280.jpg);
        background-size: cover;
    }

    .main h1 {
        font-size: 3rem;
        margin-bottom: 1rem;
    }

    .main a.btn {
        font-size: 1.5rem;
        padding: 0.75rem 2rem;
    }

    @media (max-width: 767px) {
        .main h1 {
            font-size: 2rem;
        }

        .main a.btn {
            font-size: 1.2rem;
            padding: 0.5rem 1.5rem;
        }
    }
    </style>

    <div class="row mt-3">
        <div class="main">
            <h1>Are You solo traveller?</h1>
            <a class="btn btn-primary" href="/signup">Join Us</a>
        </div>

        <h3 class="mt-3" >Happy Client</h3>
        <div class="row row-cols-lg-3 mt-3 row-cols-md-2 row-cols-sm-1">
            
        

            <div class="card listing-card col">
                <img src="https://cdn.pixabay.com/photo/2022/02/13/12/05/boy-7011010_1280.jpg" class="card-img-top" alt="listing_image" style="height: 20rem;">
                <div class="card-img-overlay">
                    hello
                </div>
                <div class="card-body">
                    <p class="card-text">
                        <b>
                            Carlos M
                        </b><br>
                        Anna made my Couchsurfing experience unforgettable! Her warm hospitality and genuine kindness made me feel right at home. The accommodations were clean and comfortable, and Anna went above and beyond to show me around the city. I couldn't have asked for a better host.
                    </p>
                </div>
            </div>

            <div class="card listing-card col">
                <img src="https://cdn.pixabay.com/photo/2017/02/16/23/10/smile-2072907_1280.jpg" class="card-img-top" alt="listing_image" style="height: 20rem;">
                <div class="card-img-overlay">
                    hello
                </div>
                <div class="card-body">
                    <p class="card-text">
                        <b>
                            Anna S.
                        </b><br>
                        Anna made my Couchsurfing experience unforgettable! Her warm hospitality and genuine kindness made me feel right at home. The accommodations were clean and comfortable, and Anna went above and beyond to show me around the city. I couldn't have asked for a better host
                    </p>
                </div>
            </div>

            <div class="card listing-card col">
                <img src="https://cdn.pixabay.com/photo/2021/03/14/10/13/girl-6093779_1280.jpg" class="card-img-top" alt="listing_image" style="height: 20rem;">
                <div class="card-img-overlay">
                    hello
                </div>
                <div class="card-body">
                    <p class="card-text">
                        <b>
                            Lena B
                        </b><br>
                        Staying with Lena was an enriching cultural experience. She not only opened her home to me but also shared her love for local traditions and customs. Lena's positive energy and willingness to connect made my stay truly special. I left with not just a place to sleep but with memories of engaging conversations and a deeper understanding of the local culture. Highly recommended!
                    </p>
                </div>
            </div>
           
        </div>

        <div class="col-8 mt-3 ">

            <h3>Contact Us</h3>

            <form class="mb-3" action="/" method="post" novalidate class="needs-validation">
                <div class="mb-3">
                    <label for="name" class="form-label">Name</label>
                    <input required name="name" class="form-control" placeholder="enter name" type="text">
                    <div class="invalid-feedback">Please Enter Name</div>
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input required name="email" class="form-control" placeholder="enter email" type="email">
                    <div class="invalid-feedback">Please Enter Email</div>
                </div>
                <div class="mb-3">
                    <label for="message" class="form-label">Message</label>
                    <textarea required name="message" class="form-control"></textarea>
                    <div class="invalid-feedback">Your message</div>
                </div>

                <button class="btn btn-dark">Submit</button>

            </form>
        </div>
    </div>